
<mat-sidenav-container class="app-sidenav">

    <mat-sidenav #sidenav mode="over" class="app-sidenav" color="primary">
  
        <mat-toolbar class="app-sidenav">
          <mat-toolbar-row>
            <span>Account</span>
            <span class="app-toolbar-filler"></span>
          </mat-toolbar-row>
          <mat-toolbar-row>
            <button mat-raised-button color="accent"  routerLink="/user" class="app-sidebar-button">
              My Account
            </button>
          </mat-toolbar-row>
          <mat-toolbar-row>
            <span>Log out</span>
            <span class="app-toolbar-filler"></span>
          </mat-toolbar-row>
          <mat-toolbar-row>
            <button mat-raised-button color="warn" (click)="logout()" class="app-sidebar-button">
              Close my account
            </button>
          </mat-toolbar-row>
        </mat-toolbar>
  
      </mat-sidenav>
      <mat-toolbar class="navbar" color="primary">
        <button mat-button class="app-menu-button" (click)="sidenav.toggle()">
          <i class="material-icons">menu</i>
        </button>
        <span>Menu</span>
    </mat-toolbar>
    <mat-grid-list cols="1" rowHeight="500px">
         <mat-grid-tile>
            <mat-card class="card">
                <mat-card-header>
                    <h1>Bienvenid@ {{User}} <p>ID:{{id}}</p></h1>
                </mat-card-header>
                <mat-card-content>
                    <mat-accordion>
                        <mat-expansion-panel hideToggle>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              Name:
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <p>{{User}}</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true"
                                             (closed)="panelOpenState = false">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                                User Name:
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <p>{{Username}}</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel hideToggle>
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                Email:
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>{{email}}</p>
                          </mat-expansion-panel>
                          <mat-expansion-panel (opened)="panelOpenState = true"
                                             (closed)="panelOpenState = false">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                                Phone:
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <p>{{phone}}</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel hideToggle>
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                City and Street:
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>City:{{city}} <br> street:{{street}}</p>
                          </mat-expansion-panel>
                      </mat-accordion>
                   
                </mat-card-content>
            </mat-card>
         </mat-grid-tile>
    </mat-grid-list>
</mat-sidenav-container>
